<footer id="contact">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Liens rapides</h4>
        <ul>
          <li><a [routerLink]="['']">Accueil</a></li>
          <li><a [routerLink]="['']" fragment="produits">Produits</a></li>
          <a routerLink="produits">Gallerie</a>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Horaires</h4>
        <ul>
          <li>Samedi - Jeudi : 9h-21h</li>
          <li>Vendredi : 9h-13h 14h-21h</li>
        </ul>
      </div>
      <div class="footer-col contacts">
        <h4>Contacts</h4>
        <ul>
          <li>
            <img src="assets/map.png" alt="" /> 1825 Rue Jean-Talon E, Montréal,
            QC H2E 1T4
          </li>
          <li><img src="assets/call.png" alt="" /> +1 438 381 8181</li>
          <li>
            <img
              src="assets/email.png"
              alt=""
            />Boucherie.jeantalon&#64;gmail.com
          </li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Suivez nous</h4>
        <div class="social_media">
          <a
            target="_blank"
            href="https://www.facebook.com/people/Boucherie-Jean-Talon/100065185531222/"
            ><img src="assets/facebook.png" alt=""
          /></a>
          <img src="assets/instagram.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>
