@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Pacifico&display=swap");

* {
  margin: 0;
  text-decoration: none;
  color: black;
}

.logo_container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_img {
  position: relative;
  height: 50px;
  width: 50px;
  background-image: url(/images/LOGO_BOUCHERIE.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--falu-red-950);
  padding: 0.4rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000;
}

header .logo {
  font-size: 2rem;
  font-style: italic;
  font-weight: bolder;
}

header .navbar a {
  font-size: 1.2rem;
  border-radius: 0.5rem;
  padding: 0.2rem 10px;
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--red);
  background: #fff;
}

header .icons img {
  display: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

header .icons img:hover {
  transform: rotate(180deg);
}

header .icons {
  display: none;
}

header .icons i:hover {
  background: white;
  color: var(--red);
  transform: rotate(180deg);
}

header .icons #menu-bars {
  display: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

@media (max-width: 950px) {
  header .logo {
    font-size: 2rem;
  }

  header .navbar a {
    padding: 0.2rem 8px;
  }
  header {
    padding: 1rem 2rem;
  }
  .logo_img {
    height: 40px;
    width: 4 0px;
  }
}

@media (max-width: 730px) {
  header .icons img,
  header .icons {
    display: block;
  }

  header {
    justify-content: space-between;
  }
  header .navbar {
    opacity: 0.9;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border-top: 0.1rem solid var(--red);
    border-bottom: 0.1rem solid var(--red);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    background-color: var(--falu-red-800);
    flex-direction: column;
    border-radius: 0 0 10px 10px;
  }
  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  header .navbar a {
    display: block;

    margin: 0.4rem;
    padding: 0.2rem 1rem;
    font-size: larger;
  }

  header .navbar a:hover {
    background-color: aliceblue;
  }

  header .icons #menu-bars {
    display: inline-block;
  }
}

@media (max-width: 380px) {
  header .logo {
    font-size: 1.3rem;
  }
  header .icons img {
    height: 20px;
    width: 20px;
  }
}
