<section class="section3">
  <div class="livraison box animate__animated">
    <img src="assets/livraison.png" alt="" />
    <h3>Livraison gratuite</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto reiciendis
      vero facilis architecto impedit laborum fugit autem ex dolores aliquid?
    </p>
  </div>
  <div class="qualité box animate__animated">
    <img src="assets/qualité2.png" alt="" />
    <h3>Viande de qualité</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto reiciendis
      vero facilis architecto impedit laborum fugit autem ex dolores aliquid?
    </p>
  </div>
  <div class="halal box animate__animated">
    <img src="assets/halal.png" alt="" />
    <h3>Certifiée Halal</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iusto reiciendis
      vero facilis architecto impedit laborum fugit autem ex dolores aliquid?
    </p>
  </div>
</section>
