<section class="section3">
  <div class="livraison box animate__animated">
    <img src="assets/livraison.png" alt="" />
    <h3>Livraison gratuite</h3>
    <p>
      Profitez de notre service de livraison gratuite pour vos commandes de
      viande et produits frais.
    </p>
  </div>
  <div class="qualité box animate__animated">
    <img src="assets/qualité2.png" alt="" />
    <h3>Viande de qualité</h3>
    <p>
      Nous sélectionnons soigneusement des viandes de qualité supérieure pour
      garantir votre satisfaction.
    </p>
  </div>
  <div class="halal box animate__animated">
    <img src="assets/halal.png" alt="" />
    <h3>Certifiée Halal</h3>
    <p>
      Tous nos produits sont certifiés halal, garantissant ainsi le respect de
      vos choix alimentaires.
    </p>
  </div>
</section>

<section class="slogan-banner">
  <div class="slogan-overlay">
    <h2>Gardez votre calme et passez en cuisine</h2>
  </div>
</section>
