<section class="products" id="produits">
  <h2>Nos produits</h2>
  <div class="products_container">
    <div class="product animate__animated">
      <div class="product_img viandes"></div>
      <div class="product_content">
        <h3>Viandes</h3>
        <p class="product_description">
          Chez nous, vous trouverez une sélection exquise de viandes fraîches.
          Nous proposons du veau, de l'agneau et du bœuf, soigneusement choisis
          pour leur qualité supérieure. Que vous soyez à la recherche de
          morceaux tendres ou de coupes spécifiques, nous avons ce qu'il vous
          faut.
        </p>

        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
    <div class="product animate__animated">
      <div class="product_img volaille"></div>
      <div class="product_content">
        <h3>Volaille</h3>
        <p class="product_description">
          Chez nous, découvrez une sélection variée de volailles fraîches,
          soigneusement préparées selon vos exigences. Que vous ayez envie de
          pilons savoureux, de cuisses juteuses, de poitrines tendres, de poulet
          entier, ou encore de hauts de cuisses, d'ailes, de foie, de gésier, ou
          de poulet haché, nous avons exactement ce qu'il vous faut.
        </p>
        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
    <div class="product animate__animated">
      <div class="product_img épicerie"></div>
      <div class="product_content">
        <h3>Épicerie</h3>
        <p class="product_description">
          Chez nous, découvrez une épicerie riche en saveurs et en traditions.
          Nous offrons une vaste sélection de produits maghrébins, incluant des
          spécialités d'Algérie, de Tunisie et du Maroc, ainsi que des produits
          locaux de qualité. Explorez nos tajines traditionnels, profitez de
          notre bar à olives en libre service, et laissez-vous tenter par notre
          section dédiée aux noix.
        </p>
        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
    <div class="product animate__animated">
      <div class="product_img fruits"></div>
      <div class="product_content">
        <h3>Fruits et légumes</h3>
        <p class="product_description">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam,
          deleniti ut quas delectus aperiam sed perferendis sequi architecto
          nobis velit.
        </p>
        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
  </div>
</section>
