<!-- <section class="products" id="produits">
  <h2>Nos produits</h2>
  <div class="products_container">
    <div class="product animate__animated">
      <div class="product_img viandes"></div>
      <div class="product_content">
        <h3>Viandes</h3>
        <p class="product_description">
          Chez nous, vous trouverez de la viande fraîche de qualité. Veau,
          agneau, bœuf — tout est soigneusement sélectionné. Que vous cherchiez
          une pièce tendre ou une coupe spéciale, on a ce qu’il vous faut.
        </p>

        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
    <div class="product animate__animated">
      <div class="product_img volaille"></div>
      <div class="product_content">
        <h3>Volaille</h3>
        <p class="product_description">
          Chez nous, vous trouverez un large choix de volailles fraîches,
          préparées avec soin. Pilons, cuisses, poitrines, poulet entier, hauts
          de cuisses, ailes, foie, gésier ou poulet haché — il y en a pour tous
          les goûts.
        </p>
        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
    <div class="product animate__animated">
      <div class="product_img épicerie"></div>
      <div class="product_content">
        <h3>Épicerie</h3>
        <p class="product_description">
          Chez nous, l’épicerie est pleine de saveurs et de traditions. Vous y
          trouverez des produits du Maghreb — Algérie, Tunisie, Maroc — ainsi
          que des produits locaux de qualité. Tajines, bar à olives en
          libre-service, ou coin des noix : il y en a pour tous les goûts.
        </p>
        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
    <div class="product animate__animated">
      <div class="product_img fruits"></div>
      <div class="product_content">
        <h3>Fruits et légumes</h3>
        <p class="product_description">
          Des fruits et légumes frais, pleins de goût et choisis avec soin. Des
          classiques de saison aux produits exotiques, tout est là pour cuisiner
          ou grignoter sainement.
        </p>
        <a routerLink="produits">Voir plus de photos</a>
      </div>
    </div>
  </div>
</section> -->
<section style="background-color: #f9f9f9">
  <section class="services-section" id="produits">
    <h1>Nos produits et spécialités</h1>
    <p class="intro">
      Découvrez les services de la Boucherie Jean Talon : une viande fraîche et
      de qualité, un large choix de volailles préparées avec soin, ainsi qu'une
      sélection de fruits, légumes et produits d'épicerie maghrébins et locaux.
      Tout pour sublimer votre cuisine avec authenticité.
    </p>

    <div class="services-grid">
      <!-- 1st Row -->

      <div class="service service-img img1">
        <img src="images/10.jpg" alt="Steak with lime" />
      </div>
      <div class="service service-text text1">
        <h2>Viandes</h2>
        <p>
          Chez nous, vous trouverez de la viande fraîche de qualité. Veau,
          agneau, bœuf — tout est soigneusement sélectionné. Que vous cherchiez
          une pièce tendre ou une coupe spéciale, on a ce qu’il vous faut.
        </p>
      </div>

      <!-- 2nd Row -->
      <div class="service service-text text2">
        <h2>Volaille</h2>
        <p>
          Chez nous, vous trouverez un large choix de volailles fraîches,
          préparées avec soin. Pilons, cuisses, poitrines, poulet entier, hauts
          de cuisses, ailes, foie, gésier ou poulet haché — il y en a pour tous
          les goûts.
        </p>
      </div>
      <div class="service service-img img2">
        <img src="images/3.jpg" alt="Raw meat on a wooden board" />
      </div>

      <!-- 3rd Row -->

      <div class="service service-img img3">
        <img src="images/17.jpg" alt="Lamb leg with seasoning" />
      </div>
      <div class="service service-text text3">
        <h2>Fruits, légumes et épicerie</h2>
        <p>
          Des fruits et légumes frais, pleins de goût et choisis avec soin. Des
          classiques de saison aux produits exotiques, tout est là pour cuisiner
          ou grignoter sainement. l’épicerie est pleine de saveurs et de
          traditions. Vous y trouverez des produits du Maghreb — Algérie,
          Tunisie, Maroc — ainsi que des produits locaux de qualité. Tajines,
          bar à olives en libre-service, ou coin des noix : il y en a pour tous
          les goûts.
        </p>
      </div>
    </div>
    <div class="more-photos">
      <button class="more-photos-btn">
        <a routerLink="produits">Voir plus de photos</a>
      </button>
    </div>
  </section>
</section>
