<section class="home" style="display: none" id="home">
  <div id="home_container">
    <div class="intro animate__animated animate__fadeInUp">
      <p class="signature">Chez Koceila</p>
      <div class="title">
        <h3 class="home_container_title">Boucherie Jean Talon</h3>
        <p class="home_container_intro">
          Nous sommes passionnés par la qualité de nos viandes et produits
          frais. Découvrez notre savoir-faire et notre engagement envers des
          produits certifiés halal pour satisfaire vos envies culinaires.
        </p>
      </div>
    </div>
    <div class="intro_image animate__animated animate__fadeInRight"></div>
  </div>
</section>

<section class="hero">
  <div class="hero-overlay">
    <h1>Boucherie Jean Talon</h1>
    <p class="signature">Chez Koceila</p>
    <!-- <p>Viandes halal artisanales. Fraîcheur. Savoir-faire. Passion.</p> -->
    <a href="#produits" class="btn">Voir nos produits</a>
  </div>
</section>

<section class="about-mission-section">
  <div class="about-mission-container">
    <div class="about-box">
      <h2>À propos de nous</h2>
      <p>
        À la Boucherie Jean Talon, nous proposons des viandes halal artisanales,
        des produits frais et savoureux, ainsi qu’un éventail de spécialités
        maghrébines. Notre priorité : qualité, authenticité et service
        personnalisé.
      </p>
    </div>

    <div class="mission-box">
      <h2>Notre mission</h2>
      <p>
        Notre mission est d’offrir des viandes de qualité et des produits
        authentiques qui inspirent vos plats au quotidien. Fraîcheur,
        savoir-faire et passion sont au cœur de notre engagement.
      </p>
    </div>
  </div>
</section>

<app-must></app-must>
<app-products></app-products>
<app-quality></app-quality>
<app-testimonials></app-testimonials>
