<section class="home" id="home">
  <div id="home_container">
    <div class="intro animate__animated animate__fadeInUp">
      <p class="signature">Chez Koceila</p>
      <div class="title">
        <h3 class="home_container_title">Boucherie Jean Talon</h3>
        <p class="home_container_intro">
          Bienvenue chez Boucherie Jean Talon, où la tradition rencontre la
          qualité, pour une expérience gustative exceptionnelle à chaque visite
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias
          mollitia qui blanditiis sint fugit sunt consequatur natus perspiciatis
          soluta quis, harum totam voluptatibus illum voluptatum. Aliquid minus
          beatae ea explicabo.
        </p>
      </div>
    </div>
    <div class="intro_image animate__animated animate__fadeInRight"></div>
  </div>
</section>
<app-must></app-must>
<app-products></app-products>
<app-quality></app-quality>
<app-testimonials></app-testimonials>
